#root {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  p {
    margin: 0;
    font-size: 24px;
    font-family: NixieOne;
  }
}
