#root {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  font-size: 20px;
  font-family: 'SourceCodePro';
  font-weight: bold;
  color: black;
  :hover {
    cursor: pointer;
  }
}
