@font-face {
  font-family: 'NixieOne';
  src: url('/assets/fonts/NixieOne-Regular.ttf');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-ExtraBold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/SourceCodePro-ExtraBoldItalic.ttf');
  font-weight: bolder;
  font-style: italic;
}
