.root {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  p:hover {
    cursor: default;
  }
  #text {
    margin-left: 60px;
  }
}

.root:hover {
  cursor: pointer;
}
