#root {
  position: absolute;
  transition-duration: 0.5s;
  background-color: white;
  width: 95%;
  height: 95%;
  z-index: 200;
  border-style: solid;
  border-width: 1px;
}

.hide {
  // visibility: hidden;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

.show {
  // visibility: visible;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
