#root {
  width: 100%;
  height: 100%;

  #titleWrapper {
    position: relative;
    width: 100%;
    height: 50px;
  }

  #editorWrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
  }
}
