#root {
  position: fixed;
  transition-duration: 0.5s;
}

.hide {
  // visibility: hidden;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

.show {
  // visibility: visible;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
