#root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;

  #closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
  }

  #closeButton:hover {
    cursor: pointer;
  }

  #loginLabel {
    margin-left: 60px;
    padding-top: 60px;
    color: #707070;
  }

  #emailAddressLabel {
    margin-left: 60px;
    margin-top: 30px;
    color: #707070;
  }

  #emailAddressInput {
    margin-left: 60px;
    margin-top: 10px;
  }

  #emailAddress {
    margin: 0px;
    color: #707070;
  }

  #continueButton {
    margin-top: 30px;
  }

  #kakaoButton {
    margin-left: 60px;
    margin-top: 30px;
  }

  #googleButton {
    margin-left: 60px;
    margin-top: 15px;
  }

  #naverButton {
    margin-left: 60px;
    margin-top: 15px;
  }

  #emailButton {
    margin-left: 60px;
    margin-top: 15px;
  }
}
