#root {
  position: absolute;
  transition-duration: 0.5s;
  background-color: yellow;
  width: 95%;
  height: 95%;
}

.hide {
  // visibility: hidden;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

.show {
  // visibility: visible;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
