#root {
  width: 100%;
  height: 100%;

  #leftWrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    #editorWrapper {
      width: 100%;
      height: calc(100% - 60px);
    }
    #bottomWrapper {
      width: 100%;
      height: 60px;
    }
  }

  #rightWrapper {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      height: 8px;
      background-color: #2f3542;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      width: 8px;
      height: 8px;
      background-color: grey;
    }
    #preview {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
    }
  }
}
