#root {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-family: SourceCodePro;
  margin-left: 20px;
  #iconWrapper {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #textWrapper {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  border-style: none;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: #dee2e6;
  }
}
