@import './fonts.scss';

html, body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

body {
}

#root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
