.root {
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  p:hover {
    cursor: default;
  }
  #icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text {
    margin-left: 10px;
  }
}

.root:hover {
  cursor: pointer;
}
