#root {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 35px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: gray;
  border-style: solid;
  box-sizing: border-box;
}