#root {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  font-size: 36px;
  font-family: 'NixieOne';
  color: black;
}

#root:hover {
  cursor: pointer;
}
