#root {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Segoe UI';
  color: black;
  :hover {
    cursor: pointer;
  }
}
